<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <form class="login" action="/login" method="post">
  <h1>Login</h1>
  <label for="loginEmail">Email</label>
  <input class="input1" type="email" id="loginEmail" name="email"
         pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
  <br>

  <label for="loginPassword">Password:</label>
  <input class="input1" type="password" id="loginPassword" name="password" minlength="6" required>
  <br>

  <input type="checkbox" id="showLoginPassword"><span>Show Password</span>
  <br>

  <button type="submit">Login</button>
</form>

<script>
  const loginPasswordField = document.getElementById("loginPassword");
  const toggleLoginPassword = document.getElementById("showLoginPassword");

  toggleLoginPassword.addEventListener("change", () => {
    loginPasswordField.type = toggleLoginPassword.checked ? "text" : "password";
  });
</script>
</body>
</html>